body {
  background-color:  blue;
}

h1 {
  text-align: center;
}

.container {
    display: inline-block;
    margin: 0px 0px 50px 0px; 
 }

 .pictures {
   margin: 0px 125px 0px 125px;
 }

 .buttons {
   display: inline-block;

 }
 
.buttons .rbutton:hover {
  background-color: black;
  color: white;
}

.buttons .pbutton:hover {
  background-color: black;
  color: white;
}

.buttons .sbutton:hover {
  background-color: black;
  color: white;
}